.review-form-container {
    background-color: #2277551a;
}

.review-form-wrapper {
    border-radius: 10px;
}

.submit-button {
    background: linear-gradient(45deg, #0e5445, #05c578);
    border: none;
    outline: none;
    color: white;
    padding: 8px 20px;
    border-radius: 5px;
}

.submit-button:hover {
    background: linear-gradient(45deg, #05c578, #0e5445);
}